img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 0%;
    margin-left: auto;
    display: block;
    border: 5px solid black;
    

}

h1 {
    color: cyan;
    background-color: black;
    text-shadow: 20px yellow;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    color: white;
    font-family: sans-serif;
}

a {
    background-color: rgb(47, 47, 49);
    color: white;
    padding: 10px;
    border: 5px solid black;
    border-radius: 20px;
    text-decoration: none;
    
}

a:hover {
    background-color: rgb(65, 112, 229);
}

p {
    color: white;
}

ul {
    display: flex;
}

li {
    list-style-type: none;

}

#home a {
    background-color: rgb(5, 47, 5);
}

#home a:hover {
    background-color: rgb(16, 92, 16);
}
